@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  line-height: 1.5;
  font-size: 1.8rem;
  background-color: lightblue;
}

h1 {
  padding: 2rem;
  color: white;
  background-color: rebeccapurple;
}

h2 {
  color: rebeccapurple;
  padding: 2rem;
}

a {
  color: white;
}

.nav {
  background-color: green;
  padding: 1rem 2rem;
  text-align: right;
}

.box {
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  width: 40%;
  min-width: 300px;
  margin: 2rem auto;
}

input {
  margin: 1rem 0;
  padding: 0.5rem;
}

.btn {
  background-color: green;
  color: white;
  font-family: inherit;
  border: none;
  padding: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.jokes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}

.joke {
  width: 300px;
  padding: 2rem;
  margin: 1rem;
  background-color: white;
  border-radius: 2rem;
}

.logout {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: white;
}

.error {
  color: red;
  align-self: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
